@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS 클래스의 조합을 하나의 클래스명으로 정의 */
@layer components {
    .text-header {
        @apply font-sans text-[#333] font-medium tracking-tighter
        text-[24px] md:text-[26px] lg:text-[28px] xl:text-[30px];
    }

    .text-accent {
        @apply font-sans text-[#333] font-semibold tracking-normal
        text-[16px] sm:text-[17.5px] md:text-[18px] lg:text-[18.5px] xl:text-[19px];
    }

    .text-home {
        @apply font-sans text-[#333] leading-[1.8] font-normal tracking-normal
        text-[16px] sm:text-[17px] md:text-[18px] lg:text-[19px] xl:text-[20px];
    }

    .text-body {
        @apply font-sans text-[#333] font-normal tracking-normal
        text-[16px] sm:text-[16.5px] md:text-[17px] lg:text-[17.5px] xl:text-[18px];
    }

    .highlight {
        @apply font-semibold bg-[#ffff99] px-1; /* 배경색과 약간의 패딩을 적용하여 하이라이트 효과 */
    }
}



li {
    line-height: 1.25;
    /*text-indent: -1.5rem; !* 첫 번째 줄을 기본 위치로 되돌림 *!*/
    /*word-break: break-all; !*특수문자를 제외하고 강제로 줄바꿈*!*/
    /*overflow-wrap: break-word; */
}


/*flex-grow: 0;*/
/*이 값은 아이템이 Flex 컨테이너 내에서 남아 있는 공간을 얼마나 차지할지를 결정합니다.*/
/*0은 남은 공간을 전혀 차지하지 않겠다는 의미입니다. 즉, 아이템은 컨테이너가 가진 여분의 공간을 늘리지 않습니다.*/

/*flex-shrink: 0;*/
/*이 값은 아이템이 Flex 컨테이너 내에서 공간이 부족할 때 얼마나 줄어들지를 결정합니다.*/
/*0은 아이템이 줄어들지 않겠다는 의미입니다. 즉, 컨테이너가 작아져도 아이템의 크기는 줄어들지 않습니다.*/

/*flex-basis: 100%;*/
/*이 값은 Flex 아이템의 기본 크기를 설정합니다. 100%는 Flex 컨테이너의 너비나 높이의 100%를 기준으로 아이템의 크기를 설정하겠다는 의미입니다.*/

.embla {
    /*max-width: 48rem;*/
    /*margin: auto;*/
    /*--slide-height: 19rem;*/
    /*--slide-spacing: 1rem;*/
    --slide-size: 100%;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    /*margin-left: calc(var(--slide-spacing) * -1);*/
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 100%;
    /*min-width: 0;*/
    /*padding-left: var(--slide-spacing);*/
}